<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reactnativenavigation">

    <application>
        <activity android:name="com.reactnativenavigation.activities.TabActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.reactnativenavigation.activities.BottomTabActivity"
                  android:label=""
                  android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.reactnativenavigation.activities.SingleScreenActivity"
                  android:label=""
                  android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>

</manifest>
